# Core ML
scikit-learn==1.4.0
xgboost==2.0.3
numpy==1.26.4
pandas==2.2.0
joblib==1.3.2

# API & UI
fastapi==0.110.0
uvicorn==0.27.1
pydantic==2.6.1
streamlit==1.32.0
requests==2.31.0

# MLOps
mlflow==2.11.1
dvc==3.48.4

# Testing
pytest==8.0.0
httpx==0.27.0  # For FastAPI TestClient

# Utilities
python-dotenv==1.0.0
